{% extends "base.html" %}

{% block app_content %}
{{ wtf.quick_form(form) }}
<br>
<center>
<b>Food Name:</b><br>
	{{ name }}<br>

<b>Images :</b><br>
{% for image in image %}
	{% if image %}
		<img src="/static/images/{{image}}" width="150" height="150">
    {% else %}
		<h4 class="alert-heading">Image not available</h4>
	{% endif %}
{% endfor %}<br><br>
{% if new_description %}
<b>Description updated to:</b><br>
<form>
Description Before: {{prev_description}}<br>
Description After: {{new_description}}<br><br>
</form>
{% endif %}
</center>

{% endblock %}   